%h3 Профиль
%br
.row
  .col-xs-6
    %h5 Мои данные
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
      = devise_error_messages!
      .form-group
        = f.text_field :name, autofocus: true, class: 'form-control', title: 'Имя', data: {toggle: 'tooltip'}
      .form-group
        = f.text_field :phone, autofocus: true, class: 'form-control', placeholder: 'Телефон', title: 'Телефон', data: {toggle: 'tooltip'}
      .form-group
        = f.email_field :email, class: 'form-control', title: 'Емейл', data: {toggle: 'tooltip'}
      = f.submit 'Update', :class => 'button-xs right'

  .col-xs-6
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
      %h5 Смена пароля
      %fieldset
        .form-group
          = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Пароль'
        .form-group
          = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Повторите пароль'
      %fieldset
        .form-group
          = f.password_field :current_password, class: 'form-control', placeholder: 'Текущий пароль'
          %small.text-muted Введите Ваш текущий пароль для изменения.
      = f.submit 'Update', :class => 'button-xs right'
