.row
  .col-xs-6
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
      %h3 Регистрация
      = devise_error_messages!
      .form-group
        = f.text_field :name, :autofocus => true, class: 'form-control', placeholder: 'Имя'
      .form-group
        = f.email_field :email, class: 'form-control', placeholder: 'Емейл'
      .form-group
        = f.email_field :phone, class: 'form-control', placeholder: 'Телефон'
      .form-group
        = f.password_field :password, class: 'form-control', placeholder: 'Пароль'
      .form-group
        = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Подтверждение пароля'
      = f.submit 'Зарегистироваться', :class => 'button-xs'

