%h3 Статистики

%table.table.table-responsive
  %thead
    %tr
      %th Название
      %th #{model_name('section')}
      %th Единицы
      %th= link_to '+ Статистику', new_statistic_path, class: 'btn-success button-xs'

  %tbody
    - @statistics.decorate.each do |statistic|
      %tr
        %td= statistic.name
        %td= link_to(statistic.section, section_path(statistic.section_id))
        %td= statistic.units
        %td
          = link_to 'Show', statistic
          = link_to 'Edit', edit_statistic_path(statistic)
          = link_to 'Destroy', statistic, :method => :delete, :data => { :confirm => t('confirm') }

%br
