- @statistic = @statistic.decorate
- department = @statistic.object.section.department
%ol.breadcrumb
  %li.breadcrumb-item= link_to(department.name, department_path(department))
  %li.breadcrumb-item= link_to(@statistic.section, section_path(@statistic.section_id))
  %li.breadcrumb-item.active #{@statistic.name} (#{@statistic.units})
  %li.float-xs-right= link_to 'Изменить', edit_statistic_path(@statistic), class: 'button-xs btn-success'

= render partial: 'report_form', locals: {statistic: @statistic.object}

.row
  .col-xl-8
    //%button{onclick: 'chart.focusEnable(!chart.focusEnable()); chart.update();'} Включить зум
    = statistic_bar(@statistic)