- @statistic = @statistic.decorate
%ol.breadcrumb
  %li.breadcrumb-item= link_to(@statistic.section, section_path(@statistic.section_id))
  %li.breadcrumb-item.active #{@statistic.name} (#{@statistic.units})
  %li.float-xs-right= link_to 'Изменить', edit_statistic_path(@statistic), class: 'button-xs btn-success'

= render partial: 'report_form', locals: {statistic: @statistic.object}

.row
  .col-xl-8
    //%button{onclick: 'chart.focusEnable(!chart.focusEnable()); chart.update();'} Включить зум
    = content_tag('div', '<svg></svg>'.html_safe, {id: dom_id(@statistic),
    class: 'stat with-3d-shadow with-transitions', style: 'height: 350px',
    data: {json_path: statistic_path(@statistic, format: 'json', chart_type: 'bar'), chart_type: 'bar'}})