%h3 Департаменты

%table.table.table-responsive
  %thead
    %tr
      %th Название
      %th Положение
      %th= link_to 'Добавить новый', new_department_path, class: 'button-xs btn-success'

  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= department.position
        %td.form-actions
          = link_to 'Show', department
          = link_to 'Edit', edit_department_path(department)
          = link_to 'Destroy', department, :method => :delete, :data => { :confirm => 'Are you sure?' }
