= simple_form_for(@section) do |f|
  .form-inputs
    = f.input :department
    = f.input :name
    = f.input :enabled
  .form-actions
    = f.button :submit
    - unless @section.new_record?
      = link_to 'Show', @section, class: 'btn btn-success'
    = link_to 'Назад', :back