%h3 Список отделов

%table
  %thead
    %tr
      %th Department
      %th Name
      %th= link_to 'Новый отдел', new_section_path, class: 'btn btn-success btn-xs'

  %tbody
    - @sections.each do |section|
      %tr
        %td= section.department
        %td= section.name
        %td
          = link_to 'Show', section
          = link_to 'Edit', edit_section_path(section)
          = link_to 'Destroy', section, :method => :delete, :data => { :confirm => 'Are you sure?' }

