- if current_user.owner?
  .list-group
    - unless current_user.has_departments?
      = link_to 'Создайте Департаменты', new_department_path, class: 'list-group-item list-group-item-action'
    - else
      = link_to 'Департаменты', departments_path, class: 'list-group-item list-group-item-action'
    - unless current_user.has_products?
      = link_to 'Создайте Продукты', new_product_path, class: 'list-group-item list-group-item-action'
    - else
      = link_to 'Продукты', products_path, class: 'list-group-item list-group-item-action'
    - unless current_user.has_statistics?
      = link_to 'Создайте Статистики', new_statistic_path, class: 'list-group-item list-group-item-action'
    - else
      = link_to 'Статистики', statistics_path, class: 'list-group-item list-group-item-action'
    - unless current_user.has_workers?
      = link_to 'Пользователи', users_path, class: 'list-group-item list-group-item-action'